/* CSS global*/

.texto-serif {
    font-family: 'Times New Roman', serif;
}

.text-cool{
    color: #1E2838 !important;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.form-row:hover{
    background-color: #17929f35 !important;

}

.form-row:focus{
    border-color: #17929f !important;

}
.o_main_navbar{
/*    background-color: #17929f !important;*/
    background-color: #00b0ac !important;
    border-color: #00b0ac !important;
}

.o_menu_systray{
    background-color: #373433 !important;
    border-color: #373433 !important;
}
.o_menu_sections {
  background-color: #373433 !important;
}

.btn-primary{
    background-color: #9E2667 !important;
    background-color: #00687d !important;
    border-color: #00687d !important;
}
.btn-primary:hover{
  background-color: #0093b0 !important;
  border-color: #0093b0 !important;
}
.btn-primary:active, .btn-primary:focus{
  background-color: #0093b0 !important;
  box-shadow: none !important;
  border-color: #0093b0 !important;
}

.btn.btn-danger {
  background-color: #526265 !important;
  border-color: #526265 !important;
}
.btn-danger:hover {
  background-color: #5b6c6f !important;
  border-color: #5b6c6f !important;
}
.btn-danger:active, .btn-danger:focus {
  background-color: #5b6c6f !important;
  border-color: #5b6c6f !important;
  box-shadow: none !important;
}

/*CSS del modelo PUBLICADORES*/
.publicadores-name{
    background-color: #189cab30 !important;
    border-color: #17929f35 !important;
}

.kanban-publicadores{
    border-color: #1E283835 !important;
    margin-bottom: 5px !important;
    width: 230px !important;
}
.o_kanban_group:not(.o_column_folded) {
    width: 280px !important;
  }

.o_input.o_required_modifier{
    background-color: #17929f35 !important;
    border-color: #17929f35 !important;
}

.badge-primary {
    color: #ffffff;
    background-color: #189CAB;
  }

.badge-warning {
    color: #ffffff;
    background-color: #9E2667;
  }

.badge-info {
    color: #ffffff;
    background-color: #1e2838db;
  }

.sec-button {
    margin: 10px 0px 0px 0px;
}
/* CSS del modelo GRUPOS*/
.kanban-grupos{
    background-color: #9e266620 !important;
    border-color: #9E2667 !important;
    width: 600px !important;
}
/* Estilos para los botones del formulario de ingresar informes*/
btn-outline-primary .btn-informe-publicador {
    color: #107E8B !important;
    border-color: #107E8B !important;
  }

btn-outline-primary .btn-informe-publicador:active :hover {
    color: #F5F5F5 !important;
    border-color: #107E8B !important;
    background-color: #107E8B !important;
  }

  /* CSS del modelo INFORMES*/
.kanban-irregular{
    background-color: rgba(158, 38, 38, 0.125) !important;
    border-color: rgba(158, 38, 38, 0.125) !important;
    margin-bottom: 5px !important;
    width: 230px !important;
}
  /* CSS del modelo Solicitudues Aux*/
  .kanban-aprobada.rounded-lg {
    border:1px solid #9ace8d;
    opacity: 1;
    background-color:#edffe9;
  }
.kanban-aprobada h3.text-center.text-cool::before {
  content: '✓';
  color:#1f8639;
  font-size: 24px;
}
.kanban-aprobada *{
    color: #324250;
  }


.kanban-solicitud.rounded-lg{
    border:2px solid #F5F5F5;
    opacity: 1;
    padding-top: 15px;
  }

.kanban-solicitud h3{
    color: #7c8088;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; 
  }
.kanban-solicitud h6 span{
    color: #356ab1;
    font-weight: 700;
    font-size: 16px;
    
    
  }
.kanban-solicitud h5{
    color: #444;
    font-size: 16px;
    font-weight: 700;
  }

  /*************************/

  .notas, .notas li{
    font-size:12px !important;
    font-family: Roboto !important;
    text-align: left !important;
    font-weight: 900 !important;
  }
  .aux-form{
    background-color: white !important;
    border-radius: 12px !important;
    box-shadow: rgba(17, 24, 39, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
    margin: 20px 5px !important;
    padding: 15px !important;
  }
  .notas-pie{
    font-size:14px !important;
    font-family: Roboto !important;
    text-align: left !important;
    font-weight: 300;
  }

  .footer-firmas{
    display:flex;
    flex-direction: rows;
    justify-content: space-evenly;
  }
  .btn-firmar span{
    color: #212121;
    font-weight: 500;
    font-size: 18px;
  }
  .btn-firmar i.fa-toggle-off{
    color: #aaaaaa;
    font-size: 24px;
    margin-right: 10px;
  }
  .btn-firmar i.fa-toggle-on{
    color: #17929f;
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Aquí van tus estilos específicos para dispositivos móviles */
  .o_kanban_view{
    display: flex !important;
    flex-direction: column !important;
  }
    /*La columna*/
  .o_kanban_group.ui-sortable, .o_secretary_grupos_kanban{
    min-width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    }
    /*Las cajas*/
  .o_kanban_view .o_kanban_group .o_kanban_record{
    width: 50% !important;
  }
  /*El titulo*/
  .o_kanban_view .o_kanban_group .o_kanban_header{
    width: 100% !important;
  }
  .o_kanban_view .o_kanban_group .o_kanban_header .o_kanban_header_title span{
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  /**************************/
  .o_menu_systray div:not(.o_user_menu) {
  display: none !important; 
  }
  span.oe_topbar_name{
  display: none !important; 
  }
  nav .o_navbar_apps_menu{
    max-width: 10vw !important;
  }

  ol.breadcrumb, .o_searchview {
    min-width: 45vw !important;
  }
  header nav.o_main_navbar div.o_menu_sections {
    display: flex !important;
    min-width: 70vw !important;
  }

  div.oe_kanban_global_click.kanban-grupos.rounded-lg.o_kanban_record {
    margin-right: 5% !important;
    margin-left: 5% !important;
    margin-top: 5% !important;
    max-width: 90% !important;
  }

}